{{ define "page" }}
  <div class="px-6">
    <h1 class="py-4 text-4xl ssemibold tracking-tight">contact</h1>
    <p class="text-gray-800">
      to get in touch, email me at
      <a class="underline" href="mailto:chung.man.kim@gmail.com"
        >chung.man.kim@gmail.com</a
      >
    </p>
  </div>
{{ end }}
