<h1>FAQ Page</h1>
<ul>
  <li><b>Is there a free version?</b> Yes! we offer a free trial for 30 days on any paid plans</li>
  <li><b>What are your support hours?</b> We have support staff answering emails 24/7, though response times may be a bit slower on weekends.</li>
  <li><b>How do i contact support?</b> Email use - <a href="mailto:support@lenslocked.com">support@lenslocked.com</a></li>
</ul>